.list-item {
    display:flex;
}

.list-group-item {
    margin-top: 10px;
}

.list-group-item > p, .list-group-item > span {
    display: inline;
}

.delete-button {
    float: right;
    padding-left: 5px;
}

.App {
    margin:10%;
    text-align:center;
}

.form-inline {
    margin-bottom: 50px;
}
.btn {
    margin-left: 10px;
}
.title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 32px;
}